.card{
    padding: 10px;
    background-color: #121212;
    cursor: pointer;

    img{
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .card-body{
        padding: 0;

        h4{
            margin-top: 0.2em;
            margin-bottom: 0.2rem;
            font-weight: 600;
            color: white;
        }

        .card-text {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2; 
            line-height: 1.3;
            color: gray;
        }
    }

}

.card:hover{
    background-color: #242424;
    transition: background-color 0.4s ease;
}
