.spotify__home-container{

    height: 100vh;
    

    &-sidebar{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        height: 100vh;
        overflow-x: hidden; 

        &-itemsBottom{
            height: 100%;
        }

        &-itemsTop, &-itemsBottom{

            

            background-color: #121212;
            width: 100%;
            border-radius: 10px;
            padding: 20px 0 30px 20px;
            margin-top: 10px;
            overflow: hidden;

            &-item{
                display: flex;
                justify-content: space-between;
                fa-icon{
                    margin-right: 10px;
                }
                margin-top: 10px;
                img{
                    width: 100px;
                }
                a{
                    color: lightgray;
                    font-size: 1.1em;
                    font-family: circular-medium;
                    text-decoration: none;
                    text-align: start!important;
                }
                a:hover{
                    color: white;

                }
                .containerCreateYourFirtList{
                    height: 150px;
                    background-color: #242424;
                    border-radius: 10px;
                    width: 104%;
                    padding-left: 20px;
                    padding-top: 15px;
                    margin: 10px 10px 0 0px;
                    font-size: 0.9em;
                    .btn{
                        border-radius: 2em;
                    }
                
                }

            }
        }

    }

    &-playlist{
        background-color:#000000;
        height: 100vh;
        padding-left: 0px;
    }

    .white{
        color: #ffff;
    }
}
.spotify__home-bePremium{
    position: fixed;
    bottom: 0px;
    height: 75px;
    width: 100%;
    background: rgb(175,40,150);
    background: linear-gradient(90deg, rgba(175,40,150,1) 0%, rgba(80,155,245,1) 100%);
    align-items: center;
    z-index: 6;

    &-text{
        color: white;
        padding-left: 40px;
    }

    .btn{
        border-radius: 2em;
        --bs-btn-padding-x: 1.4rem;
        --bs-btn-padding-y: 0.9rem;
        margin-right: 20px;
    }
    &-button{
        text-align: end;
        &-Free{
            font-weight: 600;
        }
    }
}