
.spotify__top-nav{
    width: 75.5%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 2;
    position: fixed;
    top: 5px;

    &-backAndForth{
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
            font-size: 1.5em;
            color: gray;
        }
        &-back, &-forward{
            height: 40px;
            width: 40px;
            border-radius: 50%;
            background-color: black;
            display: flex;
            justify-content: center;
        }
        &-back{
            margin-right: 5px;
        }

        .searchBox{
            position: relative;
            .searchIcon{
                color: gray;
                position: absolute;
                top: 50%;
                left: 25px;
                transform: translateY(-50%);
                font-size: 1.2em;
            }
            .searchPlaylist{
                background-color: #2A2A2A;
                color: white;
                border: none;
                border-radius: 2em;
                width: 350px;
                height: 45px;
                margin-left: 10px;
                padding-left: 40px;
            }
    
            .searchPlaylist::placeholder{
                color: gray;
                padding-left: 5px;
            }

        }

    }

    &-ath{
        display: flex;
        flex-direction: row;
        align-items: center;
        z-index: 5;
        margin-right: 20px;
        
        &-signUp{
            color: lightgray;
            font-weight: 600;
            margin-right: 35px;
            font-family: circular-bold;
        }

        .btn{
            border-radius: 2em;
            --bs-btn-padding-x: 1.75rem;
            --bs-btn-padding-y: 0.8rem;
            font-family: circular-bold;
        }
        &-logIn{
            font-weight: 600;
        }
    }
}